body{
    background-color: lightskyblue;
}

.au{
    background-color: rgb(201, 131, 131);
}
.register{
    background-color: rgb(201, 131, 131);
    
}

.signup{
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
    
    padding-top: 3%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 30%;
}
